@use './header.scss';
@use './video.scss';

@font-face {
  font-family: 'Tilda Sans VF';
  src: url('../public/fonts/tildasansvf.ttf') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gropled';
  src: url('../public/fonts/Gropled-Bold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: 'Gropled', Arial, sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #fff;
  position: relative;
  z-index: 1;
  font-family: 'Tilda Sans VF', Arial, sans-serif;

  &::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    background: url('../public/images/bg-pattern.png') repeat;
    opacity: 0.05;
    pointer-events: none;
  }
}
main {
  margin-top: 84px;
}
